## Загрузим нужные библиотеки

In [1]:
!pip install catboost
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.multiclass import OneVsRestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import uniform
from sklearn.metrics import classification_report
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.naive_bayes import ComplementNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn import svm
from imblearn.over_sampling import SMOTE 
from sklearn.preprocessing import PolynomialFeatures
import tensorflow as tf 
import numpy as np
import pickle
from sklearn.naive_bayes import MultinomialNB
import catboost as cb
%matplotlib inline

Requirement already satisfied: catboost in /home/gennalll/.local/lib/python3.8/site-packages (1.1.1)
Requirement already satisfied: graphviz in /home/gennalll/.local/lib/python3.8/site-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/lib/python3/dist-packages (from catboost) (3.1.2)
Requirement already satisfied: numpy>=1.16.0 in /home/gennalll/.local/lib/python3.8/site-packages (from catboost) (1.23.3)
Requirement already satisfied: pandas>=0.24.0 in /home/gennalll/.local/lib/python3.8/site-packages (from catboost) (1.4.1)
Requirement already satisfied: scipy in /home/gennalll/.local/lib/python3.8/site-packages (from catboost) (1.8.0)
Requirement already satisfied: plotly in /home/gennalll/.local/lib/python3.8/site-packages (from catboost) (5.10.0)
Requirement already satisfied: six in /home/gennalll/.local/lib/python3.8/site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/gennalll/.local/lib/python3.8/site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gennalll/.local/lib/python3.8/site-packages (from pandas>=0.24.0->catboost) (2021.3)
Requirement already satisfied: tenacity>=6.2.0 in /home/gennalll/.local/lib/python3.8/site-packages (from plotly->catboost) (8.0.1)

2022-11-10 20:39:55.799012: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-11-10 20:39:55.926251: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-11-10 20:39:55.926273: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-11-10 20:39:55.960562: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-11-10 20:39:56.564606: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-11-10 20:39:56.564678: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-11-10 20:39:56.564687: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
df = pd.read_csv("train_dataset_train.csv",low_memory=False)
df

,id,oper_type + oper_attr,index_oper,type,priority,is_privatecategory,class,is_in_yandex,is_return,weight,...,dist_qty_oper_login_1,total_qty_oper_login_1,total_qty_oper_login_0,total_qty_over_index_and_type,total_qty_over_index,is_wrong_sndr_name,is_wrong_rcpn_name,is_wrong_phone_number,is_wrong_address,label
0,6818780,1043_-1,628629,Участок,7503.0,N,0.0,Y,N,87.0,...,42.0,720176.0,58950.0,779126.0,8290896.0,0,0,0,0,0
1,9907176,1023_-1,102976,ММПО,7503.0,N,0.0,N,N,107.0,...,914.0,48856658.0,83318932.0,132175590.0,136819803.0,0,0,0,0,0
2,3304275,1018_-1,620962,Цех,7503.0,N,0.0,Y,N,50.0,...,62.0,3246292.0,3233068.0,6479360.0,52708071.0,0,1,0,0,0
3,9020937,1019_-1,344964,Цех,7503.0,N,0.0,Y,N,416.0,...,55.0,2060928.0,653280.0,2714208.0,19562334.0,0,0,0,0,0
4,3082311,1020_-1,629819,Участок,7503.0,N,0.0,Y,N,795.0,...,16.0,316919.0,27911.0,344830.0,4719186.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999995,9958614,1022_-1,102976,ММПО,7503.0,N,0.0,N,N,25.0,...,1089.0,64270133.0,116432632.0,180702765.0,188407812.0,0,0,1,0,0
5999996,2234489,1022_-1,241963,Цех,7503.0,N,0.0,Y,N,83.0,...,31.0,1767370.0,144063.0,1911433.0,15582018.0,0,0,0,0,0
5999997,4304572,1041_-1,102971,Цех,7506.0,N,0.0,N,N,1700.0,...,186.0,60613352.0,10648.0,60624000.0,75592387.0,0,0,0,0,0
5999998,6550634,1018_-1,102152,Цех,7506.0,N,0.0,N,N,269.0,...,105.0,15091338.0,4972424.0,20063762.0,39988530.0,0,1,0,0,0
5999999,6423388,8_2,140531,СОПС,7503.0,N,4.0,Y,N,41.0,...,1.0,1541.0,353.0,1894.0,17238.0,0,0,0,0,0

In [3]:
df

,id,oper_type + oper_attr,index_oper,type,priority,is_privatecategory,class,is_in_yandex,is_return,weight,...,dist_qty_oper_login_1,total_qty_oper_login_1,total_qty_oper_login_0,total_qty_over_index_and_type,total_qty_over_index,is_wrong_sndr_name,is_wrong_rcpn_name,is_wrong_phone_number,is_wrong_address,label
0,6818780,1043_-1,628629,Участок,7503.0,N,0.0,Y,N,87.0,...,42.0,720176.0,58950.0,779126.0,8290896.0,0,0,0,0,0
1,9907176,1023_-1,102976,ММПО,7503.0,N,0.0,N,N,107.0,...,914.0,48856658.0,83318932.0,132175590.0,136819803.0,0,0,0,0,0
2,3304275,1018_-1,620962,Цех,7503.0,N,0.0,Y,N,50.0,...,62.0,3246292.0,3233068.0,6479360.0,52708071.0,0,1,0,0,0
3,9020937,1019_-1,344964,Цех,7503.0,N,0.0,Y,N,416.0,...,55.0,2060928.0,653280.0,2714208.0,19562334.0,0,0,0,0,0
4,3082311,1020_-1,629819,Участок,7503.0,N,0.0,Y,N,795.0,...,16.0,316919.0,27911.0,344830.0,4719186.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999995,9958614,1022_-1,102976,ММПО,7503.0,N,0.0,N,N,25.0,...,1089.0,64270133.0,116432632.0,180702765.0,188407812.0,0,0,1,0,0
5999996,2234489,1022_-1,241963,Цех,7503.0,N,0.0,Y,N,83.0,...,31.0,1767370.0,144063.0,1911433.0,15582018.0,0,0,0,0,0
5999997,4304572,1041_-1,102971,Цех,7506.0,N,0.0,N,N,1700.0,...,186.0,60613352.0,10648.0,60624000.0,75592387.0,0,0,0,0,0
5999998,6550634,1018_-1,102152,Цех,7506.0,N,0.0,N,N,269.0,...,105.0,15091338.0,4972424.0,20063762.0,39988530.0,0,1,0,0,0
5999999,6423388,8_2,140531,СОПС,7503.0,N,4.0,Y,N,41.0,...,1.0,1541.0,353.0,1894.0,17238.0,0,0,0,0,0

## Рассмотрим датасет по ближе

In [4]:
df.head(3)

,id,oper_type + oper_attr,index_oper,type,priority,is_privatecategory,class,is_in_yandex,is_return,weight,...,dist_qty_oper_login_1,total_qty_oper_login_1,total_qty_oper_login_0,total_qty_over_index_and_type,total_qty_over_index,is_wrong_sndr_name,is_wrong_rcpn_name,is_wrong_phone_number,is_wrong_address,label
0,6818780,1043_-1,628629,Участок,7503.0,N,0.0,Y,N,87.0,...,42.0,720176.0,58950.0,779126.0,8290896.0,0,0,0,0,0
1,9907176,1023_-1,102976,ММПО,7503.0,N,0.0,N,N,107.0,...,914.0,48856658.0,83318932.0,132175590.0,136819803.0,0,0,0,0,0
2,3304275,1018_-1,620962,Цех,7503.0,N,0.0,Y,N,50.0,...,62.0,3246292.0,3233068.0,6479360.0,52708071.0,0,1,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000000 entries, 0 to 5999999
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   id                             int64
 1   oper_type + oper_attr          object
 2   index_oper                     object
 3   type                           object
 4   priority                       float64
 5   is_privatecategory             object
 6   class                          float64
 7   is_in_yandex                   object
 8   is_return                      object
 9   weight                         float64
 10  mailtype                       float64
 11  mailctg                        float64
 12  mailrank                       float64
 13  directctg                      float64
 14  transport_pay                  float64
 15  postmark                       float64
 16  name_mfi                       object
 17  weight_mfi                     float64
 18  price_mfi                      float64
 19  dist_qty_oper_login_1          float64
 20  total_qty_oper_login_1         float64
 21  total_qty_oper_login_0         float64
 22  total_qty_over_index_and_type  float64
 23  total_qty_over_index           float64
 24  is_wrong_sndr_name             int64
 25  is_wrong_rcpn_name             int64
 26  is_wrong_phone_number          int64
 27  is_wrong_address               int64
 28  label                          int64
dtypes: float64(16), int64(6), object(7)
memory usage: 1.3+ GB

In [6]:
df["id"].value_counts()

6818780    1
1236699    1
4090073    1
7722817    1
3414179    1
          ..
2573822    1
654869     1
1616887    1
1384821    1
6423388    1
Name: id, Length: 6000000, dtype: int64

Рассмотрим часть столбцов типа "object"

In [7]:
df["is_in_yandex"].value_counts()

N    3585956
Y    2411374
0       2670
Name: is_in_yandex, dtype: int64

In [8]:
df["is_return"].value_counts()

N    5993017
Y       6983
Name: is_return, dtype: int64

Эти категории можно сделать ранговыми

In [9]:
df["priority"] = pd.Categorical(df["priority"])
df["priority"].astype('category').cat.codes
df["priority"] = df["priority"].cat.codes

In [10]:
df["is_in_yandex"] = pd.Categorical(df["is_in_yandex"])
df["is_in_yandex"].astype('category').cat.codes
df["is_in_yandex"] = df["is_in_yandex"].cat.codes

In [11]:
df["is_return"] = pd.Categorical(df["is_return"])
df["is_return"].astype('category').cat.codes
df["is_return"] = df["is_return"].cat.codes

In [12]:
df["oper_type + oper_attr"] = pd.Categorical(df["oper_type + oper_attr"])
df["oper_type + oper_attr"].astype('category').cat.codes
df["oper_type + oper_attr"] = df["oper_type + oper_attr"].cat.codes

In [13]:
df["index_oper"] = pd.Categorical(df["index_oper"])
df["index_oper"].astype('category').cat.codes
df["index_oper"] = df["index_oper"].cat.codes

In [14]:
df["type"] = pd.Categorical(df["type"])
df["type"].astype('category').cat.codes
df["type"] = df["type"].cat.codes

In [15]:
df["is_privatecategory"] = pd.Categorical(df["is_privatecategory"])
df["is_privatecategory"].astype('category').cat.codes
df["is_privatecategory"] = df["is_privatecategory"].cat.codes

In [16]:
df["name_mfi"] = pd.Categorical(df["name_mfi"])
df["name_mfi"].astype('category').cat.codes
df["name_mfi"] = df["name_mfi"].cat.codes

In [17]:
df["weight"] = round(df["weight"]/1000)
df['is_wrong']=df['is_wrong_sndr_name']+df['is_wrong_rcpn_name']+df['is_wrong_phone_number']+df['is_wrong_address']
df['total_mean']=df['total_qty_over_index_and_type']/df['total_qty_over_index']

df["weight_kg"] = round(df["weight"]/1000)

df['is_wrong']=df['is_wrong_sndr_name']+df['is_wrong_rcpn_name']+df['is_wrong_phone_number']+df['is_wrong_address']

df['total_mean']=df['total_qty_over_index_and_type']/df['total_qty_over_index']

df["weight_brutto"] = (df['weight_mfi']+0.1)/(df['weight']+0.1)

df["transport_pay_sel"] = round(df["transport_pay"]/100)

df["weight_pay"] = (df["weight"]+0.1)/(df["transport_pay"]+0.1)

## Выделим выборки

In [18]:
df

,id,oper_type + oper_attr,index_oper,type,priority,is_privatecategory,class,is_in_yandex,is_return,weight,...,total_qty_oper_login_0,total_qty_over_index_and_type,total_qty_over_index,is_wrong_sndr_name,is_wrong_rcpn_name,is_wrong_phone_number,is_wrong_address,label,is_wrong,total_mean
0,6818780,26,17235,18,1,1,0.0,2,0,0.0,...,58950.0,779126.0,8290896.0,0,0,0,0,0,0,0.093974
1,9907176,20,23,4,1,1,0.0,1,0,0.0,...,83318932.0,132175590.0,136819803.0,0,0,0,0,0,0,0.966056
2,3304275,15,16331,19,1,1,0.0,2,0,0.0,...,3233068.0,6479360.0,52708071.0,0,1,0,0,0,1,0.122929
3,9020937,16,6325,19,1,1,0.0,2,0,0.0,...,653280.0,2714208.0,19562334.0,0,0,0,0,0,0,0.138747
4,3082311,17,17315,18,1,1,0.0,2,0,1.0,...,27911.0,344830.0,4719186.0,0,0,0,0,0,0,0.073070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999995,9958614,19,23,4,1,1,0.0,1,0,0.0,...,116432632.0,180702765.0,188407812.0,0,0,1,0,0,1,0.959104
5999996,2234489,19,4697,19,1,1,0.0,2,0,0.0,...,144063.0,1911433.0,15582018.0,0,0,0,0,0,0,0.122669
5999997,4304572,24,18,19,3,1,0.0,1,0,2.0,...,10648.0,60624000.0,75592387.0,0,0,0,0,0,0,0.801986
5999998,6550634,15,6,19,3,1,0.0,1,0,0.0,...,4972424.0,20063762.0,39988530.0,0,1,0,0,0,1,0.501738
5999999,6423388,99,751,13,1,1,4.0,2,0,0.0,...,353.0,1894.0,17238.0,0,0,0,0,0,0,0.109874

In [19]:
df = df.fillna(0)

In [20]:
df.to_csv('train_frame.csv', index=False)

Обьединим список не нужных строк с списком строк типа object

In [21]:
col_obj = df.select_dtypes(include=['object']).columns.values
col_obj = list(set(col_obj) ^ set(["id", "label"]))

In [22]:
col_obj

['label', 'id']

In [23]:
X = df.drop(col_obj, axis = 1)
y = df["label"]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, stratify=y)

sm = SMOTE(random_state=42)

X_train, y_train = sm.fit_resample(X_train, y_train)

In [ ]:
pf=PolynomialFeatures() 
X_train=pf.fit_transform(X_train)
X_test=pf.fit_transform(X_test)

In [ ]:
X_train.shape

## Обучение модели

In [ ]:
scaler = MinMaxScaler()
#scaler.fit(X)
# logistic = OneVsRestClassifier(RandomForestClassifier(max_depth=22,n_jobs=-1))
#logistic=GaussianNB()
#pipe = Pipeline([('normalizer', scaler), ('classifier', logistic)])
#pipe.fit(X_train, y_train)

In [ ]:
clf1=ComplementNB()
clf3=GaussianNB()
eclf1 = VotingClassifier([('cnb', clf1),('gb', clf3)], voting='soft',weights=[1,1])
pipe = Pipeline([('normalizer', scaler), ('classifier', eclf1)])
pipe.fit(X_train, y_train)

pool_train = cb.Pool(X, y)
params = {                  # 'task_type':'GPU',
                            'iterations':1200,
                            'depth':8,
                            'random_state':2,
                            'learning_rate':0.01,
                            'eval_metric':'HammingLoss',
                            'loss_function':'MultiCrossEntropy'}
clf_with_aux = cb.CatBoostClassifier(**params)
clf_with_aux.fit(pool_train)

predcat = clf_with_aux.predict_proba(X_test)
voting = pipe.predict_proba(X_test)


y_pred = ((voting + predcat) / 2).argmax(axis=1)


print(classification_report(y_test, y_pred))



parametrs = {
              'max_depth': range (1,25),
            }
grid = GridSearchCV(DecisionTreeClassifier(), parametrs, scoring='roc_auc', cv=2,n_jobs=-1) 
grid.fit(X_test, y_test) 
grid.best_params_

pkl_filename = "model.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(pipe, file)

with open(pkl_filename, 'rb') as file:
    model = pickle.load(file)

nb_classifier = GaussianNB()

params_NB = {'var_smoothing': np.logspace(0,-9, num=10)}
gs_NB = GridSearchCV(estimator=nb_classifier, 
                 param_grid=params_NB, 
                 cv=2,   # use any cross validation technique 
                 verbose=1, 
                 scoring='recall') 
gs_NB.fit(X_train, y_train)

gs_NB.best_params_

# Нейронка

from keras import models
from keras import layers
import tensorflow as tf 
def build_model():
    model = models.Sequential()
    model.add(layers.Dense(27,activation='sigmoid',input_shape=(27,)))
    model.add(layers.Dense(1000,activation='sigmoid'))
    model.add(layers.Dense(1,activation='sigmoid'))
    model.compile(optimizer='rmsprop',# Вы также можете указать параметры для оптимизатора через optimizer = optimizer.RMSprop (lr = 0.001)
                  loss='binary_crossentropy', # Эквивалент потерь = loss.binary_crossentropy
                  metrics=[tf.keras.metrics.Recall()]) # Эквивалентно метрике = [metircs.binary_accuracy]
    return model
model = build_model()


history = model.fit(X_train, y_train,
                    epochs=2, # Итерировать 20 раз по полному набору данных
                    batch_size=512, # Размер каждой партии 512
                    validation_data=(X_test,y_test))

predictions = model.predict(X_test)
pred=[]
for i in predictions:
    pred.append(np.argmax(i+1))
print('нейронка',classification_report(y_test, pred))

## Оценка точности

In [ ]:
pred =pipe.predict(X_test)

In [ ]:
from sklearn.metrics import recall_score

score = recall_score(y_test, pred, average = "macro" )

In [ ]:
print("Recall", score)

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,  pipe.predict_proba(X_test)[:, 1])

In [ ]:
print(classification_report(y_test, pred))

In [ ]:
print('Требуемая величина', 0.1*score+0.9*roc_auc_score(y_test,  pipe.predict_proba(X_test)[:, 1]))

# Предсказание

In [ ]:
pred_data=pd.read_csv('test_dataset_test.csv',low_memory=False)

In [ ]:
df=pred_data

In [ ]:
df["priority"] = pd.Categorical(df["priority"])
df["priority"].astype('category').cat.codes
df["priority"] = df["priority"].cat.codes
df["is_in_yandex"] = pd.Categorical(df["is_in_yandex"])
df["is_in_yandex"].astype('category').cat.codes
df["is_in_yandex"] = df["is_in_yandex"].cat.codes
df["is_return"] = pd.Categorical(df["is_return"])
df["is_return"].astype('category').cat.codes
df["is_return"] = df["is_return"].cat.codes
df["oper_type + oper_attr"] = pd.Categorical(df["oper_type + oper_attr"])
df["oper_type + oper_attr"].astype('category').cat.codes
df["oper_type + oper_attr"] = df["oper_type + oper_attr"].cat.codes
df["index_oper"] = pd.Categorical(df["index_oper"])
df["index_oper"].astype('category').cat.codes
df["index_oper"] = df["index_oper"].cat.codes
df["type"] = pd.Categorical(df["type"])
df["type"].astype('category').cat.codes
df["type"] = df["type"].cat.codes
df["is_privatecategory"] = pd.Categorical(df["is_privatecategory"])
df["is_privatecategory"].astype('category').cat.codes
df["is_privatecategory"] = df["is_privatecategory"].cat.codes
df["name_mfi"] = pd.Categorical(df["name_mfi"])
df["name_mfi"].astype('category').cat.codes
df["name_mfi"] = df["name_mfi"].cat.codes

In [ ]:
df = df.fillna(0)

In [ ]:
df=df.drop(['id'], axis = 1)

In [ ]:
pred_data['label']=pipe.predict(df)

In [ ]:
pred_data[['id','label']].to_csv('bestmodel.csv', index=False)